@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Kablammo&family=Monoton&family=Rubik+Moonrocks&display=swap');

.App {
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

.dropbtn {
  font-family: 'Kablammo';
  font-size: 5rem;
}

nav {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(208, 192, 255);
}

a {
  text-decoration: none;
}

.linkButtonR {
  border: 2px solid transparent;
  width: 8%;
  background-color: #426990;
  border-radius: 0 0 30% 0;
}

.linkButtonC {
  border: 2px solid transparent;
  width: 8%;
  background-color: #426990;
}

.linkButtonL {
  border: 2px solid transparent;
  width: 8%;
  background-color: #426990;
  border-radius: 0 0 0 30%;
}

nav div:hover {
  background-color: #6ca9e0;
}
 




.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}